.portfolio-modal .modal-content {
	  border-radius: 0;
	  background-clip: border-box;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border: none;
	  min-height: 100%;
	  padding: 100px 0;
	  text-align: center;
	}
	.portfolio-modal .modal-content h2 {
	  margin: 0;
	  font-size: 3em;
	}
	.portfolio-modal .modal-content img {
	  margin-bottom: 30px;
	}
	.portfolio-modal .modal-content .item-details {
	  margin: 30px 0;
	}
	.portfolio-modal .close-modal {
	  position: absolute;
	  width: 75px;
	  height: 75px;
	  background-color: transparent;
	  top: 25px;
	  right: 25px;
	  cursor: pointer;
	}
	.portfolio-modal .close-modal:hover {
	  opacity: 0.3;
	}
	.portfolio-modal .close-modal .lr {
	  height: 75px;
	  width: 1px;
	  margin-left: 35px;
	  background-color: #2C3E50;
	  transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  /* IE 9 */
	  -webkit-transform: rotate(45deg);
	  /* Safari and Chrome */
	  z-index: 1051;
	}
	.portfolio-modal .close-modal .lr .rl {
	  height: 75px;
	  width: 1px;
	  background-color: #2C3E50;
	  transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  /* IE 9 */
	  -webkit-transform: rotate(90deg);
	  /* Safari and Chrome */
	  z-index: 1052;
	}
	.portfolio-modal .modal-backdrop {
	  opacity: 0;
	  display: none;
	}